@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-100;
}

input[type="text"], textarea{
    @apply bg-gray-100 w-full block py-2 px-2 mb-2;
}
label.input-label{
    @apply uppercase text-gray-400 text-xs mb-2 font-semibold;
}

.radio-togglers{
    @apply p-1 bg-gray-200 inline-flex cursor-pointer;
}
.radio-togglers div{
    @apply p-2 px-4 text-gray-500 block flex items-center gap-2 cursor-pointer;
}
.radio-togglers input[type="radio"]{
    @apply hidden;
}
.radio-togglers input[type="radio"]:checked + div{
    @apply bg-white text-blue-600;
}

.sortable-ghost{
    opacity: .2;
}


input#navCb:checked ~ aside{
    left:0;
}
input#navCb:checked ~ .backdrop{
    display: block;
}



.zoom-menos {
    transition: 0.30s all ease-in-out;
}

.zoom-menos:hover {
    transform: scale(0.905);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.1);
}

.zoom-mas {
    transition: 0.30s all ease-in-out;
}

.zoom-mas:hover {
    transform: scale(1.09);
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.1);
}


@keyframes wipe-enter {
	0% {
        transform: rotate(180deg);

       	}
    25%{
		transform: scale(.025, .025);

    }
	50% {
		transform: scale(1, 1);
	}
    75%{
        

    }
}

@keyframes wipe-enter2 {
	0% {
		transform: scale(0.025, 1);
       	}
	50% {
		transform: scale(1, 0.025);
	}

}

@keyframes wipe-enterinf {
    to { transform: scale(1.4); }

}

@media (prefers-reduced-motion: no-preference) {
    .square {
      animation-name: wipe-enter2;
      animation-duration: 1s;
      animation-iteration-count: initial;
    }
  }



@media (prefers-reduced-motion: no-preference) {
  .square2 {
    animation-name: wipe-enter;
    animation-duration: 2.5s;
    animation-iteration-count: initial;
}


}

.square22 {
    animation: beat 1s infinite alternate;
}
/* Heart beat animation */
@keyframes beat{
	to { transform: scale(0.97); }
}
